@charset "utf-8";

/* RESET
----------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
img, embed, object, video { max-width: 100%; }
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video { width: 100%; }

/* BASE
----------------------------------------------------------------------------------------*/

*{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
html,
body{
    position:relative;
    min-height: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    font-family: 'Roboto', sans-serif;
}
strong{
    font-weight: 500;
}
i{
    font-style: italic;
}
.overflow-hidden{
    position: relative;
    overflow: hidden;
}

.content a{
    color: #00a8e3;
    text-decoration: none;
}
.content a:hover{
    text-decoration: underline;
}
.scroll-to-link{
    cursor: pointer;
}
p, .content ul, .content ol{
    font-size: 14px;
    color: #002d3d;
    margin-bottom: 14px;
    line-height: 1.6;
    font-weight: 300;
}
.content h1:first-child{
    text-align: left;
    font-size: 1.333em;
    color: #034c8f;
    padding-top: .5em;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-top-width: 0;
    margin-top: 0;
    margin-bottom: .3em;
    clear: both;
}

code,
pre{
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
}
.higlighted{
    background-color: rgba(0,0,0,0.05);
    padding: 3px;
    border-radius: 3px;
}

/* LEFT-MENU
----------------------------------------------------------------------------------------*/

.left-menu{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    box-sizing: border-box;
    background-color: #00215e;
    overflow-x: hidden;
    font-size: 18px;
}
.left-menu .content-infos {
    position: relative;
    padding: 5%;
}
.left-menu .info {
    color: #9ac4ec;
    text-align: center;
    position: relative;
    font-size: 14px;
}
.left-menu .info b {
    font-weight: 500;
}
.content-logo{
    position: relative;
    display: block;
    width: 70%;
    margin: 5% auto 0;
    box-sizing: border-box;
    padding-left:5%;
}
.content-logo img{
    display: inline-block;
    max-width: 88%;
    vertical-align: middle;
}
.content-logo span{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 1.1em;
}

.content-menu ul{
    width: 150px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    line-height: 28px;
}

 li{
    color: #82b6e3;
    font-size: 12px;
    padding: 8px 15px 8px 8px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #82b6e3;
    margin-top: 8px;
}


.content-menu ul li{
    list-style: none;
}
.content-menu ul li:hover,
.content-menu ul li:active{
    background-image:linear-gradient(90deg, #0280f3, #05f1db);
    border-image:linear-gradient(90deg, #0280f3, #05f1db);
    border: 1px solid;
    transition: -2s;
    color: #012e59;
    border-radius: 30px;
}

@media (hover: none) {
    .content-menu ul li:not(.active):hover {
        background-color: inherit;
    }
    .content-menu ul li:not(.active):hover a {
        color: #777A7A;
    }
}


/* CONTENT-PAGE
----------------------------------------------------------------------------------------*/

.content-page {
    position: relative;
    box-sizing: border-box;
    margin-left: 200px;
    z-index: 2;
    background-color: #fff;
    min-height: 100%;
}
.content {
    position: relative;
    z-index: 30;
}
.break-word {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.content h4{
    color: #00a8e3;
    margin-top: 0;
    text-transform: none;
    font-size: 14px;
    margin-bottom: 0.2em;
}
.content-page .content p,
.content-page .content pre {
    max-width: 730px;
}

.content blockquote {
    color: #fff;
    padding: 0 28px 2em;
    margin: 0;
    width: 400px;
    float: right;
    clear: right;
    box-sizing: border-box;
}
.content pre code, .content pre {
    font-size: 13px;
    line-height: 1.5;
}

.content table {
    font-size: 0.825em;
    margin-bottom: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
}
.content table tr:last-child {
    border-bottom: 1px solid #ccc;
}
.content table th {
    font-size: 1.5em;
    padding: 5px 18px 5px 0;
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
    text-align: left;
    line-height: 1.6;
    color: #034c8f;
}
.content table td {
    padding: 10px 18px 10px 10px;
    text-align: left;
    vertical-align: top;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #034c8f;
}


/* burger-menu-icon
----------------------------------------------------------------------------------------*/
.burger-menu-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    position: absolute;
    right: 26px;
    top: 26px;
    display: none;
}
.burger-menu-icon .line {
    fill: none;
    stroke: #000;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu-icon .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.burger-menu-icon .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.burger-menu-icon .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
html.menu-opened .burger-menu-icon .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
html.menu-opened .burger-menu-icon  .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
html.menu-opened .burger-menu-icon  .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

table {
    width: 100%;
}


/* RESPONSIVE
----------------------------------------------------------------------------------------*/

@media only screen and (max-width:980px){
    .content h1, .content h2, .content h3, .content h4, .content h5,
    .content h6, .content p, .content table, .content ul, .content ol,
    .content aside, .content dl, .content ul, .content ol {
        margin-right: 0;
    }
    .content .central-overflow-x {
        margin: 0;
        padding: 0 28px;
    }
    table {
        width: 100%;
    }
}

@media only screen and (max-width:680px){
    html {
        scroll-padding-top: 83px;
    }
    html.menu-opened {
        overflow: hidden;
    }
    .left-menu {
        position: relative;
        width: auto;
    }
    .left-menu .content-menu {
        position: fixed;
        width: 400px;
        max-width: 90vw;
        z-index: 3;
        top: 0;
        bottom: 0;
        right: -405px;
        left: auto;
        background-color: #ffffff;
        margin: 0;
        overflow-x: hidden;
        padding-top: 83px;
        padding-bottom: 20px;
    }
    .left-menu .content-menu ul {
        position: relative;
    }
    .left-menu .mobile-menu-closer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(50, 63, 76, .5);
        opacity: 0;
        visibility: hidden;
    }
    html.menu-opened .left-menu .mobile-menu-closer {
        opacity: 1;
        visibility: visible;
    }
    html.menu-opened .left-menu .content-menu {
        right: 0;
    }
    .left-menu .content-logo {
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
    }
    .content-logo {
        width: 100%;
        background-color: #fff;
    }

    .logo{
        width: 120px;
        margin-left: 30%;
    }
    .content-page{
        margin-left: 0;
        padding-top: 83px;
    }
    .burger-menu-icon {
        display: block;
    }


    .content-text{
        width: 100%;
        position: relative;
        float: left;
        padding: 2rem;
        background-color: #fff;
    }

    .content-code{
        background-color: #012973;
        width: 100%;
        position: relative;
        float: right;
    }

    .container-code{
        background-color: transparent;
        min-width: 800px;
        margin: 10px;
        display: block;
        position: relative;
        float: right;
    }

}

small{
    font-size: 14px;
}
sup{
    font-size: 10px;
    color: red;
}

.line, .line1
{
    color: #0c0c0c;
    font-weight: bold;
}

/* COLORS*/
.success{
   background-color: rgba(30, 255, 0, 0.2);
}

.not{
    background-color: rgba(217, 255, 2, 0.2);
 }

 .forbidden{
    background-color: rgba(255, 136, 0, 0.2);
 }

 .found{
    background-color: rgba(255, 0, 0, 0.2);
 }
 .get{
    background-color: rgb(0, 202, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
 }
.post{
    background-color: rgb(0, 171, 163);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
}
 h1, .light{
     color: #fff;
     text-align: center;
 }

 code{
     max-height: 600px;
 }

 .content-text{
     width: 35%;
     position: relative;
     float: left;
     padding: 2rem;
     background-color: #fff;
 }

.content-code{
    background-color: #00215e;
    width: 58%;
    position: relative;
    float: right;
}

.container-code{
    background-color: transparent;
    width: 40%;
    display: inline-block;
    position: relative;
    margin:5%;
    float: left;
}

@media only screen and (max-width:1200px) {

    code {
        max-height: 720px;
    }

    .content-text {
        width: 100%;
        position: relative;
        float: left;
        padding: 2rem;
        background-color: #fff;
    }

    .content-code {
        background-color: #00215e;
        width: 100%;
        position: relative;
        float: right;
        overflow: hidden;
    }

    .container-code {
        background-color: transparent;
        width: 43%;
        min-width: 33%;
        margin: 2%;
        display: inline-block;
        position: relative;
        float: left;
    }

    table {
        width: 80%;
    }
}

    @media only screen and (max-width: 800px) {
        code {
            max-height: 720px;
        }

        .content-text {
            width: 100%;
            position: relative;
            float: left;
            padding: 2rem;
            background-color: #fff;
        }

        .content-code {
            background-color: #00215e;
            width: 100%;
            position: relative;
            float: right;
            overflow: hidden;
        }

        .container-code {
            background-color: transparent;
            width: 85%;
            margin: 2%;
            display: inline-block;
            position: relative;
            float: left;
            clear: both;
        }

        table {
            width: 80%;
        }
    }

div::-moz-scrolled-canvas,
div::-webkit-scrollbar {
    width: 8px;
}

div::-webkit-scrollbar-track {
    background-color: #2f4d88;
}

div::-webkit-scrollbar-thumb {
    background-color: #001642;
    border-radius: 20px;
}

    body::-webkit-scrollbar {
        width: 8px;
    }


    body::-webkit-scrollbar-track {
        background-color: #2f4d88;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #001642;
        border-radius: 20px;
    }

    code::-webkit-scrollbar {
        height: 8px;
    }

    code::-webkit-scrollbar-track {
        background-color: #2f4d88;
    }

    code::-webkit-scrollbar-thumb {
        background-color: #001642;
        border-radius: 20px;
    }

   .json{
        background-color: #00215e;
    }

.table-content{
    margin:  0 auto;
    padding-left: 3%;
}


